.admin-info-name {
	padding: 0 10px 0 0;
}

.admin-info-hours {
	padding: 0 0 0 10px;
}

.admin-info {
	font-size: 14pt;
}

@media screen and (max-width: 480px) {
	.admin-info-name {
		padding: 0 0 0 0;
	}

	.admin-info-hours {
		padding: 0 0 0 0;
	}

	.admin-info {
		font-size: 10pt;
	}
}

#course-description {
	min-height: 350px;
}

#fig-eye {
	float: left;
}

#fig-eye img {
	max-width: 100%;
	height: auto;
}

.sec-title {
	color: #00B0F0; /* light blue */
}

#schedule-table {
	border-collapse: collapse;
	border: solid 2px;
}

#schedule-table th, #schedule-table td {
	border: solid 1px;
	padding: 5px;
}

#schedule-table tbody tr:nth-child(odd) {
	background-color: #f6f6f6;
}

.noclass {
	font-style: italic;
}
.notice {
	color: red;
}

.code-text {
	font-family: inconsolata, consolas, monospace;
	background-color: #ddddee;
}

body {
	margin: 10px auto;
	padding: 10px 30px;
	font-family: "Calibri Light", sans-serif;
	font-size: 12pt;
	line-height: 1.3;
	max-width: 1000px;
}

@media screen and (max-width: 480px) {
	body {
		font-size: 10pt;
		margin: 5px 5px;
		padding: 5px 5px;
	}
}

figcaption {
	text-align: center;
}
body {
    font-family: 'Open-Sans', sans-serif;
    font-weight: 300;
    background-color: #fff;
}

.content {
    width: 1000px;
    padding: 25px 50px;
    margin: 25px auto;
    background-color: white;
    box-shadow: 0px 0px 10px #999;
    border-radius: 15px;
}

.contentblock {
    width: 950px;
    margin: 0 auto;
    padding: 0;
    border-spacing: 25px 0;
}

.contentblock td {
    background-color: #fff;
    padding: 25px 50px;
    vertical-align: top;
    box-shadow: 0px 0px 10px #999;
    border-radius: 15px;
}

a,
a:visited {
    color: #224b8d;
    font-weight: 300;
}

#authors {
    text-align: center;
    margin-bottom: 20px;
}

#conference {
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
}

#authors a {
    margin: 0 10px;
}
table{
    table-layout: fixed;
    width:auto;
}
h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 300;
}

h2 {
    font-size: 30px;
    font-weight: 300;
}

code {
    display: block;
    padding: 10px;
    margin: 10px 10px;
}

p {
    line-height: 25px;
    text-align: justify;
}

p code {
    display: inline;
    padding: 0;
    margin: 0;
}

#teasers {
    margin: 0 auto;
}

#teasers td {
    margin: 0 auto;
    text-align: center;
    padding: 5px;
}

#teasers img {
    width: 250px;
}

#results img {
    width: 133px;
}

#seeintodark {
    margin: 0 auto;
}

#sift {
    margin: 0 auto;
}

#sift img {
    width: 250px;
}

.downloadpaper {
    padding-left: 20px;
    float: right;
    text-align: center;
}

.downloadpaper a {
    font-weight: bold;
    text-align: center;
}

#demoframe {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 340px;
}

#feedbackform {
    border: 1px solid #ccc;
    margin: 0 auto;
    border-radius: 15px;
}

#eyeglass {
    height: 530px;
}

#eyeglass #wrapper {
    position: relative;
    height: auto;
    margin: 0 auto;
    float: left;
    width: 800px;
}

#mitnews {
    font-weight: normal;
    margin-top: 20px;
    font-size: 14px;
    width: 220px;
}

#mitnews a {
    font-weight: normal;
}

.teaser-img {
    width: 80%;
				display: block;
				margin-left: auto;
				margin-right: auto;
}
.teaser-gif {
				display: block;
				margin-left: auto;
				margin-right: auto;
}
.summary-img {
    width: 100%;
				display: block;
				margin-left: auto;
				margin-right: auto;
}

.iframe {
    width: 100%;
    height: 125%
}

.container {
display: flex;
align-items: center;
justify-content: center
}
.image {
flex-basis: 40%
}
.text {
font-size: 20px;
padding-left: 20px;
}
	.center {
		margin-left: auto;
		margin-right: auto;
	}
	.boxshadow {
		border: 1px solid;
		padding: 10px;
		box-shadow: 2px 2px 5px #888888;
	}
	.spacertr{
		height: 8px;
	}
	.spacertd{
		width: 40px;
	}

